<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46871496267-7thn0jtttm7kekpn7v72atnikto4ba3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46871496267-7thn0jtttm7kekpn7v72atnikto4ba3e</string>
	<key>API_KEY</key>
	<string>AIzaSyACtWn-4y-2cAP2gKZJxW3xUsZT6hmgWyo</string>
	<key>GCM_SENDER_ID</key>
	<string>46871496267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tribesocial.DogGram</string>
	<key>PROJECT_ID</key>
	<string>doggram-8d342</string>
	<key>STORAGE_BUCKET</key>
	<string>doggram-8d342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46871496267:ios:1a4d7d091cb5d8ea6fafce</string>
	<key>DATABASE_URL</key>
	<string>https://doggram-8d342.firebaseio.com</string>
</dict>
</plist>